<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Adicionar produto</title>

        <!-- Style -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <form action="" class="admin-form">
            <h1 class="admin-title">Adiciona Produto</h1>

            <div class="admin-form-group">
                <label for="nome" class="admin-form-label">nome</label>
                <input type="text" name="nome" class="admin-form-text" />
            </div>

            <div class="admin-form-group">
                <label for="qtd" class="admin-form-label">quantidade</label>
                <input type="text" name="qtd" class="admin-form-text" />
            </div>

            <input type="submit" class="admin-form-button">
        </form>
    </body>
</html>