@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;  
}


/* ------ */

body{
  font-family: 'Montserrat';
  margin: 0;
}

.container{
  margin:0 auto;
  max-width: 1100px;
  width: 90%;
}

/*
 * Menu
 */

.menu{
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.menu-content{
    align-items: center;
    display: flex;   
    height: 70px;
    justify-content: space-between;
    width: 100%;
}

.menu-logo{
    color: #3700B3;
    font: 25px 'Montserrat';
    font-weight: 800;
    letter-spacing: 0.5px;
}

.menu-share{
  width: fit-content;
}

.menu-share a{
    color: #3700B3;
    font: 14px 'Montserrat';
    font-weight: 700;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.menu-share a:hover{
  color: #6200EE;
}

/*
 * Banner.
 */

.banner{
  background: url('banner-home.jpg') center no-repeat;
  min-height: 300px;
  padding-top: 70px;
  width: 100%;
}


/*
 * Posts.
 */

.posts{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
}

.posts-item{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(98,0,238,0.25);
  -moz-box-shadow: 0px 0px 0px 0px rgba(98,0,238,0.25);
  box-shadow: 0px 0px 0px 0px rgba(98,0,238,0.25);
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 25px 35px;
  transition: all ease 0.5s;
  width: 31%;
}

.posts-item:hover{
  -webkit-box-shadow: 0px 0px 12px 1px rgba(98,0,238,0.25);
  -moz-box-shadow: 0px 0px 12px 1px rgba(98,0,238,0.25);
  box-shadow: 0px 0px 12px 1px rgba(98,0,238,0.25);
}

.posts-item-img{
  margin-bottom: 15px;
  width: 100%;
}

.posts-item-title{
  color: #6200EE;
  font: 18px/24px 'Montserrat';
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.posts-item-text{
  font: 13px/20px 'Montserrat';
  letter-spacing: 0.5px;
  margin-top: 10px;
}

.posts-item-link{
  color: #3700B3;
  display: block;
  font: 12px 'Montserrat';
  letter-spacing: 0.3px;
  margin-top: 20px;
  text-decoration: underline;
}



@media screen and (max-width: 900px){
  .banner{
    background-position: right;
  }

  .posts{
    flex-direction: column;
  }

  .posts-item{
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 480px){
  .menu{
    height: 60px;
  }

  .menu-content{
      height: 60px;
  }

  .menu-logo{
      font: 20px 'Montserrat';
      font-weight: 800;
  }


  .posts-item-title{
    font: 16px/20px 'Montserrat';
    font-weight: 800;
  }
  
  .posts-item-text{
    font: 12px/18px 'Montserrat';
  }
  
}